<!-- XML -->
<launch>
    <!--
    <include file="$(find d3_motorctl)/launch/motor.launch"/>
    <include file="$(find d3_motorctl)/launch/odom.launch"/>
    -->
    <include ns="drive" file="$(find scuttle_driver)/launch/scuttle_driver.launch"/>
    <include file="$(find d3_2dnav)/launch/move_base.launch"/>
    <include file="$(find d3_dlp)/launch/dlp.launch"/>

    <include file="$(find d3_inventory_demo)/launch/demo_cameras.launch"/>
    <node pkg="d3_inventory_demo" type="demo.py" name="d3_inventory_demo_node" output="screen">
        <param name="point_file"        value="/opt/robotics_sdk/ros1/drivers/d3_inventory_demo/config/points.json"/>
        <param name="objective_file"    value="/opt/robotics_sdk/ros1/drivers/d3_inventory_demo/config/objectives.json"/>
        <param name="wait_for_pc"       value="True"/>
    </node>

    <include file="$(find d3_inventory_demo)/launch/robot_tf.launch"/>
</launch>
