<!-- XML -->
<launch>
    <include file="$(find d3_inventory_demo)/launch/demo_cameras.launch"/>
    <include file="$(find d3_fusion)/launch/fusion.launch" ns="front">
        <arg name="device"              value="/dev/imx390-0-3"/>
        <arg name="ldc_dcc_file"        value="/opt/imaging/imx390/imx390_35244_equidistant_1280x720_LUT.bin"/>
        <arg name="camera_info_url"     value="file:///opt/imaging/imx390/imx390_35244_equidistant_1280x720_rect.yml"/>
        <arg name="width"               value="1280"/>
        <arg name="height"              value="720"/>
        <arg name="framerate"           value="30"/>
        <arg name="framelimit"          value="false"/>
        <arg name="command_port"        value="/dev/frontradarcontrol"/>
        <arg name="data_port"           value="/dev/frontradardata"/>
    </include>

    <include ns="drive" file="$(find scuttle_driver)/launch/scuttle_driver.launch"/>
    <!--
    <include file="$(find d3_motorctl)/launch/motor.launch"/>
    <include file="$(find d3_motorctl)/launch/odom.launch"/>
    -->

    <node pkg="d3_inventory_demo" type="demo.py" name="d3_inventory_demo_node" output="screen"/>
    <include file="$(find d3_2dnav)/launch/move_base.launch"/>

    <!-- [ACTIVE] rear camera pointed up, aligned per ROS REP 103 -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_apriltag21" args="0 0 2.47 0 0 3.14159 map apriltag21 100" />
    <node pkg="tf" type="static_transform_publisher" name="imx390_rear_temp_to_base_link_temp" args="0 0.125 0 1.57079 0 0 imx390_rear_temp_optical base_link_temp 100" />

    <!--
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imx390_rear" args="-0.125 0 0 0 -1.57079 0 base_link imx390_rear_optical 100" />
    -->
</launch>

