<!-- demo.launch file - activates only what is necessary to run the demo (without the track state) -->
<!-- Left + Back camera, motors + odometry, move_base + 2dnav, DLP, static transforms and the demo script-->
<launch>
    <!-- Movement nodes -->
    <include ns="drive" file="$(find scuttle_driver)/launch/scuttle_driver.launch"/>
    <include file="$(find d3_2dnav)/launch/move_base.launch"/>

    <!-- DLP node -->
    <include file="$(find d3_dlp)/launch/dlp.launch"/>

    <!-- Setup cameras -->
    <include file="$(find d3_inventory_demo)/launch/demo_cameras.launch"/>

    <!-- Demo Node -->
    <node pkg="d3_inventory_demo" type="demo.py" name="d3_inventory_demo_node" output="screen">
        <param name="point_file"        value="/opt/robotics_sdk/ros1/drivers/d3_inventory_demo/config/points.json"/>
        <param name="objective_file"    value="/opt/robotics_sdk/ros1/drivers/d3_inventory_demo/config/objectives.json"/>
        <!-- number of poses the robot will use to estimate position during localization step -->
        <param name="num_poses"         value="3"/>
        <!-- Whether the robot will wait for the visualizer for scanning before continuing - set to false for testing purposes-->
        <param name="wait_for_pc"       value="True"/>
    </node>

    <!-- Robot static transforms -->
    <include file="$(find d3_inventory_demo)/launch/robot_tf.launch"/>
</launch>
